docker.enabled = true
process {
  withName: 'WHISPER*' {
    publishDir = [
      path: { "${params.outdir}" },
      mode: "copy"
    ]
  }
}

profiles {
  singularity {
    process {
      withName: 'WHISPER*' {
        container = 'oras://community.wave.seqera.io/library/pip_whisper.ai:3e7fbbf1f4cddf7f'
      }
    }
  }
}
