docker.enabled = true

process {
  // Retry mechanism with increasing resources
  errorStrategy = { task.attempt <= 3 ? 'retry' : 'terminate' }
  maxRetries = 3
  memory = { 4.GB * task.attempt }
  cpus = { 2 * task.attempt }

  withName: 'WHISPER*' {
    publishDir = [
      path: { "${params.outdir}" },
      mode: "copy"
    ]
  }
}

profiles {
  singularity {
    process {
      withName: 'WHISPER*' {
        container = 'oras://community.wave.seqera.io/library/pip_whisper.ai:3e7fbbf1f4cddf7f'
      }
    }
  }
}
